@charset "utf-8";

// Fonts.
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set brand colors.
$turquoise: hsl(190, 100%, 41%);
$red: hsl(348, 86%, 61%);
$blue: hsl(229, 53%, 53%);
$cyan: hsl(207, 61%, 53%);
$green: hsl(153, 53%, 53%);
$yellow: hsl(44, 100%, 77%);

// Update Bulma's global variables.
$family-sans-serif: "Nunito", sans-serif;
$primary: $turquoise;
$danger: $red;
$link: $blue;
$info: $cyan;
$success: $green;
$warning: $yellow;

@import "bulma/bulma.sass";
